/* CSS - TOOLS */

	section      									{ overflow: hidden }
	html, body 							 			{ background: #330000; -webkit-text-size-adjust: none; font-family: 'Montserrat', sans-serif; margin: 0; padding: 0; position: relative;}
	input, button, textarea, select, label			{ resize: none}	
	*, 
	*:after, 
	*:before 				 						{ -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
	

	/* default selection color */
	*::-moz-selection 				 				{ background-color: #354a66 ;   color: #ffffff;}
	*::-webkit-selection 			 				{ background-color: #354a66 ;   color: #ffffff;}
	*::-moz-selection 				 				{ background-color: #354a66 ;   color: #ffffff;}
	*::-webkit-selection			 				{ background-color: #354a66 ;   color: #ffffff; }
	*::selection 							 		{ background-color: #354a66 ;   color: #ffffff; }
	

	/* default placeholder color */
	.form-control::-webkit-input-placeholder 		{ color: #a5a5a5; }
	.form-control:-moz-placeholder 				  	{ color: #a5a5a5; }
	.form-control::-webkit-placeholder			  	{ color: #a5a5a5; }
	.form-control::-moz-placeholder 			  	{ color: #a5a5a5; }
	.form-control:-ms-input-placeholder 		  	{ color: #a5a5a5; }


	/* default font-family for site */

	html, body, div, span, 
	p, blockquote, pre,
	a,  img, 
	ul, li, form, label,
	caption, tbody, tfoot, thead, tr, th, td,
	article, aside, canvas, details, embed, 
	figure, footer, header,
	menu, nav, section, input, select, textarea, button { font-family: 'Montserrat', sans-serif; }
	h1, h2, h3, h4, h5, h6 { font-family: 'Montserrat', sans-serif; }


	/* Global Styles */

	body {
	    background: #330000;
	    font-size: 15px;
	    line-height: 18px;
	    color: #000000 ;
	    margin: 0;
	    padding: 0;
	} 
	ul,
	ul li,
	ol,
	ol li {
	    list-style-type: none;
	    margin: 0;
	    padding: 0;
	}
	a {
	    color: #000000;
	    text-decoration: none;
	}
	a:hover,
	a:focus {
	    text-decoration: none;
	    outline: none;
	}
	.ease {
	    -webkit-transition: all 0.4s ease-in-out;
	    -moz-transition: all 0.4s ease-in-out;
	    -o-transition: all 0.4s ease-in-out;
	    transition: all 0.4s ease-in-out;
	}


	/* Font & Heading Styles */

	p,
	label,
	ul li, a {
		font-family: 'Montserrat', sans-serif;		
		color: #000000;
	}

	a:hover {
		color: #000000;
	}

	p{
		font-size: 15px;
	}
	h1 {
		font-size: 38px;
	}
	h2 {
		font-size: 30px;
	}
	h3 {
		font-size: 26px;
	}
	h4 {
		font-size: 22px;
	}
	h5 {
		font-size: 20px;
	}
	h6 {
		font-size: 16px;
	}

	.p-l-0{
		padding-left: 0px;
	}

	.p-l-2{
		padding-left: 2px;
	}


	/* Predefined Classes */

	#aboutMe{
		background-color: #ffffff;
		padding-bottom: 20px;
		padding-top: 20px;
	}

	.btn {
		height: 40px;
		line-height: 40px;
		font-size: 13px;
		padding: 0 15px;
		min-width: 150px;
		border-radius: 0;
		text-transform: uppercase;
		font-weight: 400;
		transition: all 0.3s ease;
		text-align: center;
		font-weight: 600;
	}

	.collapse-switch {
	    background-color: #27303c;
	    border:  0;
	    min-width: 35px;
	    min-height: 25px;
	    outline: none;
	    display: none;
	}

	.collapse-switch .icon-line {
	    height:  1px;
	    display:  block;
	    width:  100%;
	    background-color:  #b36b00;
	    margin: 5px 0;
	}

	/* Site Pre-Loader */

	#preloader {
	    position: fixed;
	    top: 0;
	    left: 0;
	    right: 0;
	    bottom: 0;
	    background-color: #fefefe;
	    z-index: 99;
	    height: 100%;
	}
	#status {
	    width: 200px;
	    height: 200px;
	    position: fixed;
	    left: 50%;
	    top: 50%;
	    background-image: url(../images/ripple.svg);
	    background-repeat: no-repeat;
	    background-position: center;
	    margin: -100px 0 0 -100px;
	}

	/* Scroll to top */

	.cd-top {
	    display: inline-block;
	    height: 36px;
	    width: 36px;
	    position: fixed;
	    bottom: 100px;
	    right: 10px;
	    z-index: 10;
	    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
	    /* image replacement properties */
	    overflow: hidden;
	    text-indent: 100%;
	    border-radius: 50%;
	    white-space: nowrap;
	    background: rgb(39, 48, 60) url(../images/arrowup.png) no-repeat center 10%;
	    visibility: hidden;
	    opacity: 0;
	    -webkit-transition: opacity .3s 0s, visibility 0s .3s;
	    -moz-transition: opacity .3s 0s, visibility 0s .3s;
	    transition: opacity .3s 0s, visibility 0s .3s;
	}

	.cd-top.cd-is-visible,
	.cd-top.cd-fade-out,
	.no-touch .cd-top:hover {
	    -webkit-transition: opacity .3s 0s, visibility 0s 0s;
	    -moz-transition: opacity .3s 0s, visibility 0s 0s;
	    transition: opacity .3s 0s, visibility 0s 0s;
	}
	.cd-top.cd-is-visible {
	    /* the button becomes visible */
	    visibility: visible;
	    opacity: 1;
	    -webkit-box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.1);
	    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.1);
	}
	.no-touch .cd-top:hover {
	    background-color: #e6e600;
	    opacity: 1;
	}
	.cd-top:hover,
	.cd-top:active,
	.cd-top:focus {
	    outline: none;
	    text-decoration: none;
	}
	@media only screen and (min-width: 768px) {
	    .cd-top {
	        right: 20px;
	        bottom: 20px;
	    }
	}
	@media only screen and (min-width: 1024px) {
	    .cd-top {
	        height: 45px;
	        width: 45px;
	        right: 20px;
	        bottom: 18px;
	    }
	}

	/* Global CSS */

	.container {
		width: 100%;
		max-width: 1290px;
	}

	#education{
		background-color: #ffffff;
		padding-bottom: 20px;
		padding-top: 20px;
	}

	img {
		max-width: 100%;
	}

	/*header section css*/

	.nav-links {
		text-align: center;
		padding:15px ;
	}

	.header-nav {
	    padding:  10px 0;
	    background-color: #330000;
	}

	.heading-2-banner{
		font-size: 23px;
		font-weight: 500;
		margin-top: 20px;
		text-shadow: 1px 1px #ffff1a;
		letter-spacing: 2px;
	}

	.navigation-block,.cart-block {
	    padding-top: 20px;
	}

	.nav-links li:first-child,	
	.cart-links li:first-child {
		padding-left: 0;
	}

	.nav-links li:last-child,
	.cart-links li:last-child {
		padding-right: 0;
	}

	.nav-links li,.cart-links li {
	    display: inline-block;
	    padding: 0 20px;
	    vertical-align: middle;
	}

	.nav-links li a {
	    font-size: 13px;
	    color: #fff5e6;
	    text-transform: uppercase;
	    font-weight: 500;
	}



	.nav-links a{
	    position: relative;
	    -webkit-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
	    display:  inline-block;
	}

	.nav-links li a:hover {
		color: #ff4d4d;
	}

	.header-nav {
	    position: fixed;
	    top: 0;
	    left: 0;
	    right: 0;
	    z-index: 9;
	    transition: all 0.3s ease;
	    -webkit-box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.1);
	    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.1);
	}

	.header-nav .navBrand img {
	    transition:all 0.3s ease;
	}

	.header-nav .navBrand img {
	    max-width: 70px;
	}

	.header-nav .navigation-block {
	    padding-top: 10px;
	}
	.navigation-block ul {
	    text-align:  center;
	}

	/*hero section css*/

	section {
	    padding-top: 40px;
	}
	.hero-section {
		min-height: 600px;
		position: relative;
		text-align: center;
		background-size: cover;
		background-repeat: no-repeat;
		padding: 0;
	}

	.custom-container {
	    position: absolute;
	    top: 50%;
	    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
	    left: 0;
	    right: 0;
	}

	.hero-section h2 {
	    font-size: 36px;
	    text-transform: uppercase;
	    margin: 0;
		line-height: 40px;
		color: #fff5e6;
	    padding-bottom: 25px;
	}
	.hero-section p {
	    padding-bottom: 25px;
	    margin: 0;
	    font-size:  16px;
	    line-height:  18px;
	    color: #fff5e6;
	    font-weight: 400;
	    text-transform:  uppercase;
	}

	/*collection section css*/

	.section-heading {
	    text-align:  center;
	}

	.section-heading h2 {
	    margin: 0;
	    padding-bottom: 10px;
	    font-weight:  500;
	    letter-spacing: 1px;
		font-size: 38px;
		color: #fff5e6;
	}

	.section-heading p {
	    margin:  0;
	    text-transform: uppercase;
	    font-size: 15px;
	    letter-spacing: 1px;
	}

	.section-heading p span {
	    font-weight:  700;
	    color:  #38c5e8;
	    font-size:  16px;
	}

	.logo-heading{
		margin: 0;
	    padding-bottom: 10px;	   
	    letter-spacing: 1px;
		font-style: italic;
	}

	.logo-heading h2 {
		font-family: 'Dancing Script', cursive;
		font-weight: 500;
		font-size: 32px;
		color: #fff5e6;
	}
	.collection-listings {
	    margin: 0 -15px;
	}
	.collection-listings li h2{
		text-align: center;
	}

	.collection-listings li {
	    padding: 0px 25px 0 25px;
	    width: 30.33%;
	    float: left;
		text-align: left;
		background-color:#ffecb3; 
		border:2px #ffdf80 solid;
		margin:10px;
		min-height:450px;
		box-shadow: 10px 14px 18px 0px rgba(0,0,0,0.2);
		transition: 0.3s;
	}
	.collection-listings li div.row{
		border-bottom: 1px black solid;
		padding: 10px 0px;
	} 
	.collection-listings li span.keywords{
		background-color: #b38600;
		border: 0px black solid;
		border-radius: 5px;
		padding:0px 5px;
		margin-right: 5px;
	}
	.collection-listings li span.genres{
		background-color: #b36b00;
		border: 0px black solid;
		border-radius: 5px;
		padding:0px 5px;
		margin-right: 5px;
	}
	.collection-listings li div.key-words{
		border-bottom: 1px black solid;
	}

	.collection-listings li:hover {
		box-shadow: 5px 5px 5px 5px rgba(255, 242, 204, 0.2);
	}

	.contact-section{		
		min-height: 100px;
		padding: 20px;
	}


	.text-spacing {
		padding-top: 5px;
		padding-bottom: 5px;
	} 

	.collection-listings li a {
		display:  inline-block;
	}

	.collection-listings li a:hover h5 {
		color: #000000;
	}

	.collection-listings li a h5 {
	    font-weight: 500;
	}
	.collection-listings li a p {
	    margin: 0;
	    line-height:  24px;
	    color: #000000;
	}

	.our-collections {
		padding-bottom: 50px;
	}

	.collection-listings li a:hover .collection-image {
	    top: -5px;
	    transition: all 0.3s ease;
	}

	.collection-listings li a .collection-image {
	    transition: all 0.3s ease;
	    position:relative;
	    top: 0px;
	}

	/*footer section css*/

	.footer-links {
	    padding: 65px 0;
	}

	.copy-right {
	    margin: 10px;
	    color: #ffa64d;
		line-height: 18px;
		font-size: 20px;
		font-weight: 500;
		letter-spacing: 2px;
		font-family: 'Dancing Script', cursive;
	}

	.skillset img{
		width: 150px;
		height: 150px; 
		border: 4px dotted #000000;
		padding:5px;
		margin: 10px;
	}

	.social-links li {
	    display:  inline-block;
	    padding-right: 2px;
	    vertical-align:  middle;
	}

	.social-links {
	    padding: 15px 0;
	}

	.social-links img {
		width:38px;
		height:39px;
	}

	.footer-social-links h6 {
	    font-size: 14px;
	    margin: 0;
	    text-transform: uppercase;
	    font-weight:  600;
	    color: #fff5e6;
	}
	
	.footer-social-links {
	    display: inline-block;
	    vertical-align: middle;
	}
	

	/* 3D slider */

	@-webkit-keyframes focus {
	    0% {
	        -webkit-opacity: 0;
	    }

	    100% {
	        -webkit-opacity: 1;
	    }
	}

	@-moz-keyframes focus {
	    0% {
	        -moz-opacity: 0;
	    }

	    100% {
	        -moz-opacity: 1;
	    }
	}

	@-o-keyframes focus {
	    0% {
	        -o-opacity: 0;
	    }

	    100% {
	        -o-opacity: 1;
	    }
	}

	@keyframes focus {
	    0% {
	        opacity: 0;
	    }

	    100% {
	        opacity: 1;
	    }
	}