/* CSS - TOOLS */

@media print {
  html,
  body {
    display: none; /* hide whole page */
  }
}

section {
  overflow: hidden;
}
html,
body {
  background: #330000;
  -webkit-text-size-adjust: none;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  position: relative;
  scroll-behavior: smooth;
  cursor: context-menu;
}
input,
button,
textarea,
select,
label {
  resize: none;
}
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* default selection color */
*::-moz-selection {
  background-color: #354a66;
  color: #ffffff;
}
*::-webkit-selection {
  background-color: #354a66;
  color: #ffffff;
}
*::-moz-selection {
  background-color: #354a66;
  color: #ffffff;
}
*::-webkit-selection {
  background-color: #354a66;
  color: #ffffff;
}
*::selection {
  background-color: #354a66;
  color: #ffffff;
}

/* default placeholder color */
.form-control::-webkit-input-placeholder {
  color: #a5a5a5;
}
.form-control:-moz-placeholder {
  color: #a5a5a5;
}
.form-control::-webkit-placeholder {
  color: #a5a5a5;
}
.form-control::-moz-placeholder {
  color: #a5a5a5;
}
.form-control:-ms-input-placeholder {
  color: #a5a5a5;
}

/* default font-family for site */

html,
body,
div,
span,
p,
blockquote,
pre,
a,
img,
ul,
li,
form,
label,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
footer,
header,
menu,
nav,
section,
input,
select,
textarea,
button {
  font-family: "Montserrat", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

/* Global Styles */

body {
  background: #330000;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
  margin: 0;
  padding: 0;
}
ul,
ul li,
ol,
ol li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a {
  color: #000000;
  text-decoration: none;
}
a:hover,
a:focus {
  text-decoration: none;
  outline: none;
}
.ease {
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

/* Font & Heading Styles */

p,
label,
ul li,
a {
  font-family: "Montserrat", sans-serif;
  color: #000000;
}

a:hover {
  color: #000000;
}

p {
  font-size: 15px;
}
h1 {
  font-size: 38px;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 26px;
}
h4 {
  font-size: 22px;
}
h5 {
  font-size: 20px;
}
h6 {
  font-size: 16px;
}

.p-l-0 {
  padding-left: 0px;
}

.p-l-2 {
  padding-left: 2px;
}

/* Predefined Classes */

.btn {
  height: 40px;
  line-height: 40px;
  font-size: 13px;
  padding: 0 15px;
  min-width: 150px;
  border-radius: 0;
  text-transform: uppercase;
  font-weight: 400;
  transition: all 0.3s ease;
  text-align: center;
  font-weight: 600;
}

.collapse-switch {
  background-color: #27303c;
  border: 0;
  min-width: 35px;
  min-height: 25px;
  outline: none;
  display: none;
}

.collapse-switch .icon-line {
  height: 1px;
  display: block;
  width: 100%;
  background-color: #b36b00;
  margin: 5px 0;
}

/* Site Pre-Loader */

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fefefe;
  z-index: 99;
  height: 100%;
}
#status {
  width: 200px;
  height: 200px;
  position: fixed;
  left: 50%;
  top: 50%;
  background-image: url(../images/ripple.svg);
  background-repeat: no-repeat;
  background-position: center;
  margin: -100px 0 0 -100px;
}

/* Global CSS */

.container {
  width: 100%;
  max-width: 1290px;
}

.background-white-section {
  background-color: #ffffff;
  padding-bottom: 20px;
  padding-top: 20px;
}

img {
  max-width: 100%;
}

/*header section css*/

.nav-links {
  text-align: center;
  padding: 15px;
}

.header-nav {
  padding: 10px 0;
  background-color: #330000;
}

.hero-section {
  min-height: 600px;
  position: relative;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0;
}

@media only screen and (max-width: 767px) {
  /* phones */
  .heading-1-banner {
    font-size: 50px !important;
  }
  .heading-2-banner {
    font-size: 15px !important;
  }
}

.heading-1-banner {
  font-size: 70px;
  text-shadow: 5px 5px #4d0000;
  text-transform: uppercase;
  margin: 0;
  line-height: 80px;
  color: #fff5e6;
  padding-bottom: 25px;
}

.heading-2-banner {
  font-size: 23px;
  font-weight: 500;
  margin-top: 20px;
  text-shadow: 1px 1px #ffff1a;
  letter-spacing: 2px;
  padding-bottom: 25px;
  line-height: 30px;
  color: #fff5e6;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: underline !important;
}

.navigation-block,
.cart-block {
  padding-top: 20px;
}

.nav-links li:first-child,
.cart-links li:first-child {
  padding-left: 0;
}

.nav-links li:last-child,
.cart-links li:last-child {
  padding-right: 0;
}

.nav-links li,
.cart-links li {
  display: inline-block;
  padding: 0 20px;
  vertical-align: middle;
}

.nav-links li a {
  font-size: 13px;
  color: #fff5e6;
  text-transform: uppercase;
  font-weight: 500;
}

.nav-links a {
  position: relative;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: inline-block;
}

.nav-links li a:hover {
  color: #ff4d4d;
}

.header-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9;
  transition: all 0.3s ease;
  -webkit-box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.1);
}

.header-nav .navBrand img {
  transition: all 0.3s ease;
}

.header-nav .navBrand img {
  max-width: 70px;
}

.header-nav .navigation-block {
  padding-top: 10px;
}
.navigation-block ul {
  text-align: center;
}

/*hero section css*/

section {
  padding-top: 40px;
  padding-bottom: 40px;
}

.custom-container {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
  right: 0;
}

/*collection section css*/

.section-heading {
  text-align: center;
}

.section-heading h2 {
  margin: 0;
  padding-bottom: 10px;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 38px;
  color: #fff5e6;
}

/* Header font color */

.cherryHeader {
  color: #330000 !important;
}

.section-heading p {
  margin: 0;
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 1px;
}

.section-heading p span {
  font-weight: 700;
  color: #38c5e8;
  font-size: 16px;
}

.logo-heading {
  margin: 0;
  padding-bottom: 10px;
  letter-spacing: 1px;
  font-style: italic;
}

.logo-heading h2 {
  font-family: "Dancing Script", cursive;
  font-weight: 500;
  font-size: 32px;
  color: #fff5e6;
}

/* Collection Class  (.collection-listings) | Start  */

.collection-listings li h2 {
  text-align: center;
}

.collection-listings li {
  padding: 0px 25px 0 25px;
  width: 30.33%;
  float: left;
  text-align: left;
  background-color: #ffcccc;
  border-top: 8px #990000 solid;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  margin: 10px;
  min-height: 450px;
  box-shadow: 10px 14px 18px 0px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

#education .collection-listings li {
  min-height: 300px;
}

.collection-listings li div.row {
  border-bottom: 1px black solid;
  padding: 10px 0px;
}
.collection-listings li span.keywords {
  background-color: #ff6666;
  border-radius: 5px;
  padding: 1px 5px;
  margin-right: 5px;
  font-weight: 500;
  font-style: italic;
}
.collection-listings li span.genres {
  background-color: #b36b00;
  border: 0px black solid;
  border-radius: 5px;
  padding: 0px 5px;
  margin-right: 5px;
}
.collection-listings li div.key-words {
  border-bottom: 1px black solid;
}

.collection-listings li:hover {
  box-shadow: 5px 5px 5px 5px rgba(255, 242, 204, 0.2);
}

.collection-listings li a {
  display: inline-block;
}

.collection-listings li a p {
  margin: 0;
  line-height: 24px;
  color: #000000;
}

.our-collections {
  padding-bottom: 50px;
}

/* Collection Classes | End */

/* Volunteer Card | Start  */

.flip-card {
  background-color: transparent;
  margin: 10px;
  height: 130px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  padding: 20px;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  border-right: 7px solid #990000;
  border-left: 7px solid #990000;
  background-color: #ffcccc;
}

.flip-card-front {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.flip-card-back {
  border-right: 7px solid #ffcccc;
  border-left: 7px solid #ffcccc;
  background-color: #990000;
  transform: rotateY(180deg);
  display: flex;
  justify-content: center;
  align-items: center;
}

.flip-card-back p {
  color: white;
  text-align: start;
  font-weight: 500;
}
/* Volunteer Card | End */

.contact-section {
  min-height: 100px;
  padding: 20px;
}

.text-spacing {
  padding-top: 5px;
  padding-bottom: 5px;
}

/*footer section css*/

.footer-links {
  padding: 65px 0;
}

.copy-right {
  margin: 10px;
  color: #ffa64d;
  line-height: 18px;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 2px;
  font-family: "Dancing Script", cursive;
}

.skillset img {
  width: 150px;
  height: 150px;
  padding: 5px;
  margin: 10px;
}

@keyframes rotate {
  100% {
    transform: rotate(1turn);
  }
}

.rainbow {
  position: relative;
  display: inline-block;
  z-index: 0;
  width: 200px;
  height: 200px;
  border-radius: 10px;
  overflow: hidden;
  padding: 2rem;
  margin: 10px;
}

.rainbow::before {
  content: "";
  position: absolute;
  z-index: -2;
  left: -50%;
  top: -50%;
  width: 200%;
  height: 200%;
  background-color: #ff4d4d;
  background-repeat: no-repeat;
  background-size: 50% 50%, 50% 50%;
  background-position: 0 0, 100% 0, 100% 100%, 0 100%;
  background-image: linear-gradient(#cc0000, #cc0000),
    linear-gradient(#660000, #660000), linear-gradient(#d53e33, #d53e33),
    linear-gradient(#ffcccc, #ffcccc);
  animation: rotate 80s linear infinite;
}

.rainbow:nth-child(odd)::before {
  background-image: linear-gradient(#cc0000, #cc0000),
    linear-gradient(#ffff33, #ffff33), linear-gradient(#d53e33, #d53e33),
    linear-gradient(#ffcccc, #ffcccc);
}
.rainbow::after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 6px;
  top: 6px;
  width: calc(100% - 12px);
  height: calc(100% - 12px);
  background: white;
  border-radius: 5px;
}

.social-links li {
  display: inline-block;
  padding-right: 2px;
  vertical-align: middle;
}

.social-links {
  padding: 15px 0;
}

.social-links img {
  width: 38px;
  height: 39px;
}

.footer-social-links h6 {
  font-size: 14px;
  margin: 0;
  text-transform: uppercase;
  font-weight: 600;
  color: #fff5e6;
}

.footer-social-links {
  display: inline-block;
  vertical-align: middle;
}

/* 3D slider */

@-webkit-keyframes focus {
  0% {
    -webkit-opacity: 0;
  }

  100% {
    -webkit-opacity: 1;
  }
}

@-moz-keyframes focus {
  0% {
    -moz-opacity: 0;
  }

  100% {
    -moz-opacity: 1;
  }
}

@-o-keyframes focus {
  0% {
    -o-opacity: 0;
  }

  100% {
    -o-opacity: 1;
  }
}

@keyframes focus {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* TIMELINE */

/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  background-color: #990000;
  top: 0;
  bottom: 0;
  left: 10%;
}

/* Container around content */
.timeline-listing {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.timeline-listing::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: white;
  border: 4px solid #990000;
  top: 15px;
  left: 2px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the right */
.right {
  left: 9%;
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 17px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent #990000 transparent transparent;
}

/* The actual content */
.content-timeline {
  padding: 10px 30px;
  background-color: #ffcccc;
  position: relative;
  border-radius: 6px;
  border: 2px solid #990000;
}

.content-timeline span.keywords {
  background-color: #ff6666;
  border-radius: 5px;
  padding: 1px 5px;
  margin-right: 5px;
  font-weight: 500;
  font-style: italic;
}
.content-timeline span.genres {
  background-color: #b36b00;
  border: 0px black solid;
  border-radius: 5px;
  padding: 0px 5px;
  margin-right: 5px;
}
.content-timeline div.key-words {
  border-bottom: 1px black solid;
}

.content-timeline a:hover {
  text-decoration: underline;
}

.timeline-listing div.row:not(:last-child) {
  border-bottom: 1px black solid;
  padding: 10px 10px;
}

.timeline-listing div.row:last-child {
  padding: 10px 10px;
}
